<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Job Buckette</title>

        <!-- CSS -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Job Buckette -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <!-- Icons -->
        <link rel="stylesheet" href="{{ url_for('static', filename='icons/fa-icons/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='icons/ionicons-2.0.1/css/ionicons.min.css') }}">
        <!-- JavaScript -->
        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Bootstrap -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!-- Include the plugin's CSS and JS: -->
        <script type="text/javascript" src="js/dropdown.js"></script>
        <link rel="stylesheet" href="css/dropdown.css" type="text/css"/>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('companies') }}"><span class='ion-paintbucket'></span>&nbsp;Job Buckette&nbsp;</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% block nav %}{% endblock %}
            {% block content %}{% endblock %}
            {% block add %}{% endblock %}
            {% block delete %}{% endblock %}
        </div>
    </body>
</html>
