{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block nav %}
<div class="row company-nav">
  <div class="add-company col-md-2">
    <a class="add-company" href="{{ url_for('add_company_get') }}">Add Company</a>
  </div>
  <div class="dropdown companies-per-page col-md-8">
      <form name="companies-per-page">
        Items per page:&nbsp;
        <select name="limit">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <button type="submit">Go</button>
      </form>
  </div>
</div>
{% endblock %}

{% block content %}
<h3 class="company-header">Companies</h3>
<div class="company-rows">
    <div class="col-md-3 company">
        Company Name
      </div>
      <div class="col-md-2 company">
        Location
      </div>
      <div class="col-md-2 company">
        Industry
      </div>
      <div class="col-md-3 company">
        <a>
          Website
        </a>
      </div>
      <div class="col-md-1 company">
        Edit
      </div>
      <div class="col-md-1 company">
        Delete
      </div>
</div>

{% for company in companies %}
{{ macros.render_company(company) }}
{% endfor %}

<ul class="pager">
    {% if has_next %}
    <li class="previous" >
    <a href="{{ url_for('companies', page=page + 1) }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
    <a href="{{ url_for('companies', page=page - 1) }}">&rarr; Newer</a>
    </li>
    {% endif %}
</ul>

{% endblock %}
