{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block delete %}
<section class="confirm">
  <h2>Are you sure you want to delete {{ position.position_name }} at {{ company.name }}?</h3>
  <a class="confirm-delete btn btn-default" href="/companies/{{ company.id }}/positions/{{ position.id }}/delete"><span class="fa fa-trash"></span>&nbsp;Delete&nbsp;</a>
  <a class="confirm-cancel btn btn-default" href="{{ url_for('positions', coid=coid, posid=posid) }}")><span class="fa fa-ban"></span>&nbsp;Cancel&nbsp;</a>
</section>
{% endblock %}
