{% macro render_company(company) %}
<div class="row companies">
    <div class="col-md-3 company">
            <a href="/companies/{{ company.id }}/positions">
              {{ company.name | markdown}}
            </a>
      </div>
      <div class="col-md-2 company">
        {{ company.location | markdown }}
      </div>
      <div class="col-md-2 company">
        {{ company.industry | markdown }}
      </div>
      <div class="col-md-3 company">
        <a>
          {{ company.link_to_website | markdown }}
        </a>
      </div>
      <div class="col-md-1 company">
        <a class="edit" id="edit" href="/companies/{{ company.id }}/edit">
          <span class="fa fa-pencil">&nbsp; &nbsp;</span>
        </a>
      </div>
      <div class="col-md-1 company">
        <a class="delete" id="delete" href="/companies/{{ company.id }}/confirm-delete">
          <span class="fa fa-trash">&nbsp; &nbsp;</span>
        </a>
      </div>
    </div>
{% endmacro %}

{% macro render_position(position) %}
<div class="row positions">
  <div class="col-md-2 position">
    {{ position.date_added | dateformat("%d/%m/%Y") }}
  </div>
    <div class="col-md-2 position">
            <a href="/companies/{{ position.company_id }}/positions/{{ position.id }}">
              {{ position.position_name | markdown }}
            </a>
      </div>
      <div class="col-md-2 position">
        {{ position.date_due | dateformat("%d/%m/%Y") }}
      </div>
      <div class="col-md-4 position">
        <a>
          {{ position.link_to_website | markdown }}
        </a>
      </div>
      <div class="col-md-1 position">
        <a class="edit" id="edit" href="/companies/{{ position.company_id }}/positions/{{ position.id }}/edit">
          <span class="fa fa-pencil">&nbsp; &nbsp;</span>
        </a>
      </div>
      <div class="col-md-1 position">
        <a class="delete" id="delete" href="/companies/{{ position.company_id }}/positions/{{ position.id }}/confirm-delete">
          <span class="fa fa-trash">&nbsp; &nbsp;</span>
        </a>
      </div>
</div>
{% endmacro %}

{% macro render_application(application, company, position) %}
<h3>{{ position.position_name }} at {{ company.name }}</h3>
  <div class="row">
      <div class="form-group">
        <label for="recruitmentProcessBox">Recruitment Process</label>
        <textarea disabled class="form-control" name="recruitmentProcessBox" placeholder="Details about recruitment process" rows="5">{{ application.recruitment_process }}</textarea>
      </div>
      <div class="required-docs">
          <h4>Required Documents</h4>
      </div>
      <div class="checkbox-inline">
        <div class="checkbox-inline">
          <label for="checkbox-inline">CV</label>
            <input disabled type="checkbox" name="cvCheckbox"{% if application.cv %} checked="" {% endif %} {% if not application.cv %} {% endif %}>
        </div>
        <div class="checkbox-inline">
          <label for="checkbox-inline">Cover Letter</label>
            <input disabled type="checkbox" name="coverLetterCheckbox"{% if application.cover_letter %} checked="" {% endif %} {% if not application.cover_letter %} {% endif %}>
        </div>
        <div class="checkbox-inline">
          <label for="checkbox-inline">Application Questions</label>
            <input disabled type="checkbox" name="recruitmentQsCheckbox"{% if application.application_questions %} checked="" {% endif %} {% if not application.application_questions %} {% endif %}>
        </div>
      </div>
      <div class="form-group">
        <label for="contactInfoBox">Contact Info</label>
        <textarea disabled class="form-control" name="contactInfoBox" placeholder="Details about person to contact for this application" rows="3">{{ application.contact_info }}</textarea>
      </div>
      <div class="dropdown application-docs col-md-8">
            Application Status:&nbsp;&nbsp;
            <select disabled name="application-status">
              <option selected value="{{ application.application_status }}">{{ application.application_status }}</option>
            </select>
      </div>
  </div>
  {% if not position.application %}
  <a class="edit btn btn-default" href="/companies/{{ company.id }}/positions/{{ position.id }}/applications/new"><span class="fa fa-plus"></span>&nbsp;New Application&nbsp;</a>
 {% endif %}
 {% if position.application %}
  <a class="edit btn btn-default" href="/companies/{{ company.id }}/positions/{{ position.id }}/applications/{{ application.id }}/edit"><span class="fa fa-pencil"></span>&nbsp;Edit Application&nbsp;</a>
{% endif %}
{% endmacro %}

{% macro add_application(application, company, position) %}
<h3>{{ position.position_name }} at {{ company.name }}</h3>

<form role="form" action="{{ url_for('application_post', coid=company.id, posid=position.id) }}" method="post">
  <div class="row">
      <div class="form-group">
        <label for="recruitmentProcessBox">Recruitment Process</label>
        <textarea class="form-control" name="recruitmentProcessBox" placeholder="Details about recruitment process" rows="5">{{ application.recruitment_process }}</textarea>
      </div>
      <div class="required-docs">
          <h4>Required Documents</h4>
      </div>
      <div class="checkbox-inline">
        <div class="checkbox-inline">
          <label for="checkbox-inline">CV</label>
            <input type="checkbox" name="cvCheckbox">
        </div>
        <div class="checkbox-inline">
          <label for="checkbox-inline">Cover Letter</label>
            <input type="checkbox" name="coverLetterCheckbox">
        </div>
        <div class="checkbox-inline">
          <label for="checkbox-inline">Application Questions</label>
            <input type="checkbox" name="recruitmentQsCheckbox">
        </div>
      </div>
      <div class="form-group">
        <label for="contactInfoBox">Contact Info</label>
        <textarea class="form-control" name="contactInfoBox" placeholder="Details about person to contact for this application" rows="3">{{ application.contact_info }}</textarea>
      </div>
      <div class="dropdown application-docs col-md-8">
            Application Status:&nbsp;&nbsp;
            <select name="application-status">
              <option value="Pending">Pending</option>
              <option value="Started">Started</option>
              <option value="Submitted">Submitted</option>
              <option value="Interviewing">Interviewing</option>
              <option value="Offer">Offer</option>
              <option value="Offer Accepted">Offer Accepted</option>
              <option value="Offer Refused">Offer Refused</option>
              <option value="Completed">Completed</option>
            </select>

      </div>
  </div>
  <button type="submit" class="btn btn-default"><span class="fa fa-floppy-o"></span>&nbsp;Save&nbsp;</button>
  <a class="confirm-cancel btn btn-default" href="{{ url_for('position_get', coid=company.id, posid=position.id) }}")><span class="fa fa-ban"></span>&nbsp;Cancel&nbsp;</a>
</form>
{% endmacro %}

{% macro edit_application(application, company, position) %}
<h3>{{ position.position_name }} at {{ company.name }}</h3>

<form role="form" action="{{ url_for('application_edit', appid=application.id, coid=company.id, posid=position.id) }}" method="post">
  <div class="row">
      <div class="form-group">
        <label for="recruitmentProcessBox">Recruitment Process</label>
        <textarea class="form-control" name="recruitmentProcessBox" placeholder="Details about recruitment process" rows="5">{{ application.recruitment_process }}</textarea>
      </div>
      <div class="required-docs">
          <h4>Required Documents</h4>
      </div>
      <div class="checkbox-inline">
        <div class="checkbox-inline">
          <label for="checkbox-inline">CV</label>
            <input type="checkbox"  name="cvCheckbox"{% if application.cv %} checked="" {% endif %} {% if not application.cv %} {% endif %}>
        </div>
        <div class="checkbox-inline">
          <label for="checkbox-inline">Cover Letter</label>
            <input type="checkbox" name="coverLetterCheckbox"{% if application.cover_letter %} checked="" {% endif %} {% if not application.cover_letter %} {% endif %}>
        </div>
        <div class="checkbox-inline">
          <label for="checkbox-inline">Application Questions</label>
            <input type="checkbox" name="recruitmentQsCheckbox"{% if application.application_questions %} checked="" {% endif %} {% if not application.application_questions %} {% endif %}>
        </div>
      </div>
      <div class="form-group">
        <label for="contactInfoBox">Contact Info</label>
        <textarea class="form-control" name="contactInfoBox" placeholder="Details about person to contact for this application" rows="3">{{ application.contact_info }}</textarea>
      </div>
      <div class="dropdown application-docs col-md-8">
            Application Status:&nbsp;&nbsp;
            <select name="application-status">
              <!-- TODO: Remove duplicate application statuses. Set "selected" instead. -->
              <option selected value="{{ application.application_status }}">{{ application.application_status }}</option>
              <option value="Pending">Pending</option>
              <option value="Started">Started</option>
              <option value="Submitted">Submitted</option>
              <option value="Interviewing">Interviewing</option>
              <option value="Offer">Offer</option>
              <option value="Offer Accepted">Offer Accepted</option>
              <option value="Offer Refused">Offer Refused</option>
              <option value="Completed">Completed</option>
            </select>
      </div>
  </div>
  <button type="submit" class="btn btn-default"><span class="fa fa-floppy-o"></span>&nbsp;Save&nbsp;</button>
  <a class="confirm-cancel btn btn-default" href="{{ url_for('position_get', coid=company.id, posid=position.id) }}")><span class="fa fa-ban"></span>&nbsp;Cancel&nbsp;</a>
</form>
{% endmacro %}
