{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block nav %}
<div class="row position-nav">
  <div class="add-position col-md-2">
    <a class="add-position" href="{{ url_for('add_position_get', coid=coid) }}">Add Position</a>
  </div>
</div>
{% endblock %}


{% block content %}
<h3 class="positions-header">Positions at {{ company.name }}</h3>
<div class="positions-rows">
    <div class="col-md-2 position">
      Date Added
    </div>
    <div class="col-md-2 position">
        Position Title
      </div>
      <div class="col-md-2 company">
        Application Due Date
      </div>
      <div class="col-md-4 company">
          Website
      </div>
      <div class="col-md-1 company">
        Edit
      </div>
      <div class="col-md-1 company">
        Delete
      </div>
</div>

{% for position in positions %}
{{ macros.render_position(position) }}
{% endfor %}

{% endblock %}
