div.metadata {
    margin-top: 20px;
    font-size: 1.5em;
}

.companies {
  margin-right: 10px;
  margin-left: 10px;
}

.company {
  display: inline-block;
  font-size: 1em;
}

.companies-per-page {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 10px;
}
