div.metadata {
    margin-top: 20px;
    font-size: 1.5em;
}

.companies {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.company {
  display: inline-block;
  font-size: 1em;
}

.add-company-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.5em;
}

.add-company {
  float: left;
}

.companies-per-page {
  float: right;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.company-header {
  text-align: center;
}

.company-rows {
  margin-bottom: 50px;
  font-size: 1.2em;
}

.positions-header {
  text-align: center;
}

.positions-rows {
  margin-bottom: 50px;
  font-size: 1.2em;
}

.add-position {
  float:left;
  margin-bottom: 5px;
}
